[Unit]
Description=Diagnostics
After=network.target

[Service]
ExecStart=/home/pi/diagnostics/diagnostics
WorkingDirectory=/home/pi/
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
